@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Condensed:wght@300&display=swap');
body {
  font-family: 'Roboto Condensed';
  background-color: blue;
}

.row {
  display: flex;
  border: 2px solid silver;
  margin-bottom: 30px;
  width: 90%;
  margin: 30px auto;
  border-radius: 50px;
  padding: 20px;
}

.row p {
  /* width: 100%; */
  padding-left: 20px;
}

main {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 50px;
}

.pic img {
  width: 100%;
  padding-top: 20%;
}

.pic {
  width: 20%;
  padding: 0px;
  margin: 10px;
  font-size: 35px;
  text-align: center;
}

.fav_block {
  overflow-y: scroll;
  border: 2px solid silver;
  border-radius: 10px;
  margin: 0px 10px;
  min-width: 30%;
}

.shop_block {
  overflow-y: scroll;
  border: 2px solid silver;
  border-radius: 10px;
  min-width: 30%;
}

.table_line {
  font-size: 20px;
  text-align: center;
  padding: 10px 5px;
  margin: 0px;
  border-bottom: 2px solid silver;
}

.cart_sum {
  font-size: 30px;
  display: flex;
}

.cart_sum p {
  margin: auto;
}

.stats_block {
  border: 2px solid silver;
  border-radius: 50px;
  width: 80%;
  padding: 30px;
  margin: auto;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.stats1 {
  width: 30%;
  height: 100%;
  padding: 0px 20px;
}

.stats2 {
  width: 100%;
  padding: 0px 20px;
  overflow-y: scroll;
  border-left: 2px solid silver;
}

.stats2 table {
  width: 100%;
}

.stats2 table td:first-child {
  width: 60%;
  border-left: 5px solid white;
  border-right: 5px solid white;
  text-align:  left;
}

.stats2 table tr:first-child {
  font-weight: bold;
}

.stats2 table td {
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-radius: 15px;
  padding: 3px 10px;
  text-align:  center;
}

.stats2 table tr:nth-child(even) {
  background-color: #e8e8e8;
}

h1 a {
  color: white;
  text-decoration: none;
  font-size: 50px;
}

h1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}

.details p {
  margin: 5px;
  font-size: 20px;
}

.details {
  border: 2px solid silver;
  border-radius: 30px;
  width: 70%;
  padding: 15px;
}

.info {
  display: flex;
  flex-direction:  column;
  justify-content: space-between;
  width: 50vw;
}

.price {
  color: red;
  padding: 20px;
  font-weight: bold;
  border: 2px silver solid;
  border-radius: 30px;
  font-size: 30px;
  margin: 10px  0px;
  width: auto;
  text-align: center;
  align-self: flex-start;
}

.name {
  font-size: 60px;
  margin: 10px;
}

.genre, .type, .amount, .production, .persons {
  font-size: 20px;
}

.buttons_block {
  justify-self: center;
  margin-left: auto;
}

.buy img, .fav img {
  width: 80%;
}

.buy, .fav {
  padding: 10px !important;
  text-align: center;
}

textarea {
  resize: none;
  font-size: 20px;
}

form {
  font-size: 20px;
  width: 90%;
  background-color: white;
  margin: 50px auto;
  padding: 100px 40px;
  border-radius: 50px;
}

form h1 {
  font-size: 50px;
  text-align: center;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px;
}

form a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  float: right;
  border: 2px solid silver;
  border-radius: 20px;
  padding: 10px 20px;
  transition: all 0.5s;

}

form a:hover {
  color: white;
  background-color: gray;
  border-color: black;
  transition: all 0.5s;
}

input {
  font-size: 20px;
}

.window {
  font-size: 20px;
  width: 90%;
  background-color: white;
  margin: 50px auto;
  padding: 150px 40px;
  border-radius: 50px;
}

.window h1 {
  font-size: 50px;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

.window a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  border: 2px solid silver;
  border-radius: 20px;
  padding: 10px 30px;
  transition: all 0.5s;
  margin: 20px;
  background-color: white;
}

.window a:hover {
  color: white;
  background-color: silver;
  border-color: gray;
  transition: all 0.5s;
}

nav {
  width: fit-content;
  margin: 20px auto;
}

.button {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  border: 2px solid silver;
  border-radius: 20px;
  padding: 10px 40px;
  transition: all 0.5s;
  margin: 10px 15px;
  display: block;
  margin-left: auto;
  align-self: flex-end;
  background-color: white;
  float: right;
}

.button:hover {
  color: white;
  background-color: silver;
  border-color: gray;
  transition: all 0.5s;
}

.item {
  display: flex;
  padding: 50px;
  gap: 25px;
}

.item > * {
  width: 100%;
}

.pic_item img {
  width: 80%;
  margin: 20px 30px;
}

.item .button {
  width: 30%;
  text-align: center;
}

.col_2 {
  width: 150%;
}

.item .price {
  text-align: center;
}

.description {
  border: 2px solid silver;
  border-radius: 50px;
  padding: 40px 60px;
}

.search {
  margin: 30px;
  padding: 5px;
  height: 40px;
  align-self: center;
  align-items: center;
  display: flex;
  width: auto;
  background-color: transparent;
}

.search .button {
  margin: 0px;
  height: 40px;
  padding: 10px 20px;
  align-self: center;
  float: none;
}

.search img {
  height: 40px;
}

.search .area {
  width: 400px;
  height: 60px;
  border-radius: 20px;
  padding: 0px 10px;
}

.nothing {
  font-size: 50px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.add_window {
  border: 2px solid silver;
}

.del_window {
  border: 2px solid silver;
  margin-top: 50px;
  font-size: 20px;
}

.del_window select {
  font-size: 20px;
  height: 300px;
  width: 450px;
}

.nav_list {
  border: 2px solid silver;
  border-radius: 30px;
}

.add_window p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.add_window {
  display: flex;
  gap: 20px;
}

.add_window .col_1 {

}

.add_window .col_2 {
  width: fit-content;
  display: flex;
  gap: 50px;
}

.add_window .col_2 select{
  width: fit-content;
  height: 300px;
  width: 250px;
  font-size: 20px;
}
